<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Resultados futbol
		link(rel="stylesheet", href="./css/app.css")
	body
		header(class="container")
			div.row
				h1(class="col s8") Futbol App
				img(class="col s4" src="./pictures/logo.png")
		main(class="container" id="contenedor")
		footer.container
			.row
				h2 Creado por @ustarrozJc
				h3  &copy Derechos reservados
		script(src="./js/index.js")
