@import '../../node_modules/materialize-css/bin/materialize.css'
@import '../../node_modules/font-awesome/css/font-awesome.css'

azul=#64b5f6
gris=#e0e0e0
body
	background-color gris
header
	background-color azul
	h1
		font-size 20px
		color white
		text-align center
footer
	background-color azul
	color white
	text-align center
	h2,h3
		font-size 18px


form div.input-btn
	position relative
	color white
	input[type=file]
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		opacity 0
	div.buttons button
		color white !important




div#camaraWeb
	width 100px
	height 80px
